body{
	color: $rojo;
	font-family: $MiLetra;
	text-align: center;
}

p{
	margin: 5px;
	color: $negro;
}

.foto{
	@include foto(300px, 0.632); 
}

h1,h2,h3{
	margin: 20px;
}

li{
	color: $negro;
}

.divboton{
	margin: 25px;
}

.boton {
	margin: 35px;
	@include redondo(10px);
  background: $rojo;
  color: $negro;
  text-decoration: none;
  padding: 10px 20px;
  
  
}

.contactoimagen{

	@include foto(45px, 6.989);

}
