@mixin foto ($alto, $relacion) 
{
	width: ($alto * $relacion);
	height: $alto;
}
@mixin redondo($radio) {
        -moz-border-radius: $radio;
        -webkit-border-radius: $radio;
        border-radius: $radio;
        -khtml-border-radius: $radio;
}


