---
title: Conocimientos de Ivan
---

<div class="welcome">
  <h1 class="animated bounceInDown">Mis conocimientos</h1>
  <div class="animated fadeIn">
  <h2>Idiomas</h2>
  <ul> <li><strong>Español</strong> <i>(natal)</i></li>
  		<li><strong>Ingles</strong> <i>(avanzado - B2)</i></li></ul>

  		<h2>Nociones en</h2>
  <strong><ul> <li>C++</li>
  		<li>Java</li>
  		<li>HTML</li>
  		<li>CSS</li></ul></strong>
  		<h2>Estudios</h2>
  <ul> <li><i>3re año de</i> <strong>Ingeniería en Sistemas de Información</strong></li>
  		<li><i>Bachiller orientado en Ciencias Naturales</i></li></ul></div>


<div class="animated bounceInUp">
      <div class="divboton">
    <a href="index.html" class="boton"><strong>Inicio</strong></a>
    <a href="contacto.html" class="boton"><strong>Contacto</strong></a>
  </div>
</div>
  

</div><!-- .welcome -->