---
title: Contacta a Ivan
---

<div class="welcome">
  <h1 class="animated bounceInDown">¡Contactame!</h1>
  
  
  <ul>
  	<div class="animated bounceInLeft"><li ><a href="https://www.facebook.com/ivan.grosse"><img src="images/facebook.png" class="contactoimagen"></a></li></div>
  	<div class="animated bounceInRight"><li ><a href="mailto: ivangrosso@gmail.com"><img src="images/gmail.png"class="contactoimagen"></a></li></div>
  </ul>

  <div class="animated bounceInUp">
  <div class="divboton">
  	<a href="index.html" class="boton"><strong>Inicio</strong></a>
  	<a href="conocimiento.html" class="boton"><strong>Conocimientos</strong></a>
  </div>
</div>
  

</div><!-- .welcome -->