---
title: Curriculum Ivan
---

<div class="welcome">
  <h1 class="animated bounceInDown">Iván Grosse</h1>
  <div class="animated fadeIn">
  <img src="images/curriculum.jpg" class="foto">
  <h2>Descripción</h2>
  <p>Hola! Soy <strong>Iván</strong>, nací en Tucumán pero viví hasta los 9 años en Buenos Aires. <br/> En el año 2004 volvimos a Tucumán y desde entonces he recidido en Yerba Buena.<br/></p>
  <p>Actualmente estoy cursando el 3er año de la carrera <strong>Ingeniería en Sistemas de Información</strong><br/> en la Universidad Tecnológica Nacional.</p>
  <h4><i>"Caerse está permitido, levantarse es obligatorio."</i></h4></div>

  <div class="animated bounceInUp">
  <div class="divboton">
  	<a href="conocimiento.html" class="boton"><strong>Conocimientos</strong></a>
  	<a href="contacto.html" class="boton"><strong>Contacto</strong></a>
  </div></div>

</div><!-- .welcome -->